@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;400;700&family=Open+Sans:wght@200;300;400;600&display=swap");

$serif: "Source Serif Pro", serif;
$sans-serif: "Open Sans", sans-serif;

// COLORS
$gray: #7f7f7f;
$green: #007f17;
$red: #7e1a1a;
$blue: #1d3e58;

// Variable Colors
$images-modal-bgcolor: #222;

// Lightness Scale
$lightest: 90%;
$lighter: 70%;
$light: 40%;
$dark: -40%;
$darker: -70%;
$darkest: -90%;

// Greys
$graylightest: scale-color($gray, $lightness: $lightest);
$graylighter: scale-color($gray, $lightness: $lighter);
$graylight: scale-color($gray, $lightness: $light);
$graydark: scale-color($gray, $lightness: $dark);
$graydarker: scale-color($gray, $lightness: $darker);
$graydarkest: scale-color($gray, $lightness: $darkest);

// Blues
$bluelightest: scale-color($blue, $lightness: $lightest);
$bluelighter: scale-color($blue, $lightness: $lighter);
$bluelight: scale-color($blue, $lightness: $light);
$bluedark: scale-color($blue, $lightness: $dark);
$bluedarker: scale-color($blue, $lightness: $darker);
$bluedarkest: scale-color($blue, $lightness: $darkest);

// Reds
$redlightest: scale-color($red, $lightness: $lightest);
$redlighter: scale-color($red, $lightness: $lighter);
$redlight: scale-color($red, $lightness: $light);
$reddark: scale-color($red, $lightness: $dark);
$reddarker: scale-color($red, $lightness: $darker);
$reddarkest: scale-color($red, $lightness: $darkest);

// Greens
$greenlightest: scale-color($green, $lightness: $lightest);
$greenlighter: scale-color($green, $lightness: $lighter);
$greenlight: scale-color($green, $lightness: $light);
$greendark: scale-color($green, $lightness: $dark);
$greendarker: scale-color($green, $lightness: $darker);
$greendarkest: scale-color($green, $lightness: $darkest);
