footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // padding: 0 2rem;

  @media screen and (max-width: 400px) {
    & {
      padding: 0 0.5rem;
    }
  }

  img {
    height: 3rem;
    width: auto;
  }

  nav {
    width: 100%;
  }

  .main-menu {
    display: flex;
    flex-direction: row;
    // justify-content: space-around;

    li {
      width: 33.333%;

      &:last-child a {
        border-right: none;
      }

      a {
        box-sizing: border-box;
        border: 1px solid $bluedark;
        border-left: none;
        display: block;
        width: 100%;
        padding: 1rem;
        text-align: center;
        font-size: 1.4rem;

        @media (hover: hover) {
          &:hover {
            text-decoration: none;
            background-color: $bluedark;
          }
        }
      }
    }
  }

  .social-links {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
    color: white;
  }

  .social-links {
    img {
      position: relative;
      padding: 0 0.6rem;
      max-height: 75px;
      height: 10vw;
      min-height: 40px;
      width: auto;
      transition: filter 0.4s;
      filter: drop-shadow(1px 3px 1.3px transparentize($blue, 0.5)) invert(50%);
      background: none;

      &:hover {
        filter: drop-shadow(9px 9px 1.3px transparentize($blue, 0.3))
          invert(100%);
      }
    }

    a {
      &::after {
        content: attr(aria-label);
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-shadow: none;
        color: #ddd;
        font-size: 12px;
        padding: 5px 10px;
        border-radius: 5px;
      }
      &:hover::after {
        display: block;
      }
    }

    @media screen and (max-width: 300px) {
      & > li:nth-last-child(-n + 2) {
        display: none;
      }
    }
  }

  .footer-information {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.8rem;
    color: $graylight;

    & > * {
      max-width: 40%;
    }
  }
}
