.homepage {
  img {
    width: 30vw;
    max-width: 40vh;
    filter: $imageshadow;
  }

  text-align: center;

  h1 {
    font-size: 8vw;
  }

  h2 {
    font-size: 3vw;
  }

  @media screen and (min-height: 1000px) {
    h1 {
      font-size: 8vw;
    }

    h2 {
      font-size: 3vw;
    }
  }

  @media screen and (min-width: 1000px) {
    h1 {
      font-size: 7vh;
    }

    h2 {
      font-size: 3vh;
    }
  }
}
