.project-show {
  display: flex;
  overflow: auto;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;

  & > div {
    padding-top: 4vh;
    width: 35vw;
  }

  .gallery {
    margin-right: 2vw;
  }

  .info {
    margin-left: 2vw;
    h1 {
      font-size: 2rem;
    }

    .links,
    details {
      margin: 1rem 0;
    }

    .links a {
      margin-right: 3rem;
    }

    details {
      & > * {
        margin-bottom: 1rem;
        &:first-child {
          margin-top: 0.6rem;
        }
        &:last-child {
          margin-bottom: 2rem;
        }
      }

      li {
        margin-left: 1rem;
      }

      blockquote {
        margin: 1rem 10%;
      }
    }

    .tech-list {
      figcaption {
        margin-bottom: 0.5rem;
      }

      ul {
        column-count: 2;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .project-show {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    & > div {
      padding-top: 1rem;
      width: 100%;
    }

    .gallery,
    .info {
      margin: 0;
    }
  }
}
